.selectItem {
    display: flex;
    flex-direction: column;
}

.registerContainer {
    margin-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
}

.registerContainer input {
    width: 18vw;
    height: 3em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    padding: 0 0.5em;
    background-color: rgb(255, 255, 255);
    font-family: Pop;
    font-size: calc(0.7vw + 0.5em);
    margin-bottom: 0.5em;
}

.registerContainer input:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(173, 216, 230, 0.623);
}

.registerContainer button {
    width: 10vw;
    min-width: fit-content;
    height: 3.2em;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(18, 218, 28);
    font-family: Pop;
    font-size: calc(0.7vw + 0.5em);
    color: #FFF;
}

.registerContainer button:hover {
    background-color: rgb(12, 136, 18);
    cursor: pointer;
}

.clientRegisterContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clientRegisterContainer input {
    height: 3em;
}

.itemRegisterContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemRegisterContainer div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.registerDisplay {
    width: 100%;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(68, 208, 255);
    box-shadow: 0 3px 3px #0000001f;
}

.registerDisplay form {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registerDisplay form p {
    width: fit-content;
    font-size: calc(1vw + 1em);
    color: #fff;
}

.registerDisplay form label {
    color: #fff;
    font-size: calc(1vw + 0.5em);
}

.registerDisplay form div {
    width: 100%;
}

.registerDisplay form div div {
    width: 100%;
    display: flex;
}

input[type=radio] {
    transform: scale(1.5) translate3d(-0.3em, -0.1em, 0);
}

input[type=checkbox] {
    transform: scale(1.5) translate3d(-0.5em, 0, 0);
}

.functionButtons {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.cleanAll {
    background-color: rgb(218, 18, 18) !important;
}

.cleanAll:hover {
    background-color: rgb(138, 11, 11) !important;
}

.makeBill {
    width: 11em;
    border: none;
    padding: 0.5em;
    margin: 2em 1em 1em 1em;
    text-align: center;
    font-family: Pop;
    font-size: calc(0.8vw + 0.5em);
    color: #fff;
    background-color: rgb(18, 218, 28);
    border-radius: 0.5em;
}

.makeBill:hover {
    background-color: rgb(12, 136, 18);
    cursor: pointer;
}

.billGeneratorContainer {
    width: 100%;
}

.billGeneratorContainer button {
    display: block;
    border: none;
    padding: 0.5em;
    font-family: Pop;
    font-size: calc(0.8vw + 0.5em);
    color: #fff;
    background-color: rgb(255, 115, 59);
    border-radius: 0.5em;
    margin: 1em auto;
}

.billGeneratorContainer button:hover {
    background-color: rgb(184, 83, 44);
    cursor: pointer;
}

hr {
    border-top: 1px dashed grey;
    color: transparent;
    margin-bottom: 2em;
}

.billGenerator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.billGenerator div {
    width: 50%;
    margin: 0.1em;
    padding: 1em;
    background-color: rgb(216, 245, 255);
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}

.billGenerator div p {
    width: fit-content;
    margin: 0;
    font-family: Pop;
    font-size: calc(0.8vw + 0.5em);
    color: #747474;
    letter-spacing: 0.1em;
}

.billGenerator div label {
    width: fit-content;
    font-family: Geo;
    font-size: calc(0.8vw + 0.5em);
    color: #747474;
}

@media (max-width: 500px) {
    .clientRegisterContainer {
        flex-direction: column;
    }

    .clientRegisterContainer input {
        width: 12em;
    }

    .itemRegisterContainer {
        flex-direction: column;
    }

    .itemRegisterContainer div input {
        width: 12em;
    }

    input[type=radio] {
        transform: scale(1.2) translate3d(-0.3em, -0.15em, 0);
    }
    
    input[type=checkbox] {
        transform: scale(1.2) translate3d(-0.5em, -0.05em, 0);
    }

}
